<div class="container">
    <div class="conteudo">
        <h1>Demo Cadastro</h1>
        <form (ngSubmit)='adicionarUsuario()' [formGroup]="cadastroForm">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Nome completo</mat-label>
                    <input matInput placeholder="Digite seu nome completo" formControlName="nome">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>*Nome requerido</mat-hint>
                    <mat-error *ngIf="displayMessage.nome">
                        <p [innerHTML]="displayMessage.nome"></p>
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput placeholder="Digite seu CPF" formControlName="cpf" cpf
                        [textMask]="{mask: MASKS.cpf.textMask}">
                    <mat-icon matSuffix>badge</mat-icon>
                    <mat-hint>*CPF requerido</mat-hint>
                    <mat-error *ngIf="displayMessage.cpf">
                        <p [innerHTML]="displayMessage.cpf"></p>
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>Digite o seu email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-hint>*E-mail requerido</mat-hint>
                    <mat-error *ngIf="displayMessage.email">
                        <p [innerHTML]="displayMessage.email"></p>
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>Digite a sua senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
                    <mat-hint>*Senha requerida</mat-hint>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="displayMessage.senha">
                        <p [innerHTML]="displayMessage.senha"></p>
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>Confirme a sua senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senhaConfirmacao">
                    <mat-hint>*Confirmação de senha requerida</mat-hint>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="displayMessage.senhaConfirmacao">
                        <p [innerHTML]="displayMessage.senhaConfirmacao"></p>
                    </mat-error>
                </mat-form-field>
                <br><br>
                <button mat-raised-button color="primary" [disabled]="!cadastroForm.valid"
                    type="submit">Registrar</button>
            </p>
            <p>Formulario valido: {{ cadastroForm.valid }}</p>
            <p>Formulario tocado: {{ cadastroForm.touched }}</p>
            <p>Formulario sujo: {{ cadastroForm.dirty }}</p>
            <p>Formulario: {{ formResult }}</p>
        </form>
    </div>
</div>