<div class="container">
    <div class="conteudo">
        <h1>Demo Cadastro</h1>
        <form (ngSubmit)='adicionarUsuario()' [formGroup]="cadastroForm">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Nome completo</mat-label>
                    <input matInput placeholder="Digite seu nome completo" formControlName="nome">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>*Nome requerido</mat-hint>
                    <mat-error
                        *ngIf="cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)">
                        Preencha o campo nome</mat-error>
                </mat-form-field>
                <!-- <span class="msg-error" *ngIf="cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)">Preencha o campo nome</span> -->
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput placeholder="Digite seu CPF" formControlName="cpf" cpf
                        [textMask]="{mask: MASKS.cpf.textMask}">
                    <mat-icon matSuffix>badge</mat-icon>
                    <mat-hint>*CPF requerido</mat-hint>
                    <mat-error
                        *ngIf="cadastroForm.get('cpf')?.errors?.required && (cadastroForm.get('cpf').dirty || cadastroForm.get('cpf').touched)">
                        Preencha o campo CPF</mat-error>
                    <mat-error
                        *ngIf="cadastroForm.get('cpf')?.errors?.cpf && (cadastroForm.get('cpf').dirty || cadastroForm.get('cpf').touched)">
                        CPF em formato invalido</mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>Digite o seu email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-hint>*E-mail requerido</mat-hint>
                    <mat-error
                        *ngIf="cadastroForm.get('email')?.errors?.required && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)">
                        Preencha o campo email</mat-error>
                    <mat-error
                        *ngIf="cadastroForm.get('email')?.errors?.email && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)">
                        E-mail em formato invalido</mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>Digite a sua senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
                    <mat-hint>*Senha requerida</mat-hint>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="cadastroForm.get('senha')?.errors?.required && (cadastroForm.get('senha').dirty || cadastroForm.get('senha').touched)">
                        Preencha o campo senha</mat-error>
                    <mat-error
                        *ngIf="cadastroForm.get('senha')?.errors?.rangeLength && (cadastroForm.get('senha').dirty || cadastroForm.get('senha').touched)">
                        Tamanho inválido</mat-error>
                    
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline">
                    <mat-label>Confirme a sua senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senhaConfirmacao">
                    <mat-hint>*Confirmação de senha requerida</mat-hint>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="cadastroForm.get('senhaConfirmacao')?.errors?.required && (cadastroForm.get('senhaConfirmacao').dirty || cadastroForm.get('senhaConfirmacao').touched)">
                        Preencha o campo Confirme a sua senha</mat-error>
                    <mat-error
                        *ngIf="cadastroForm.get('senhaConfirmacao')?.errors?.rangeLength && (cadastroForm.get('senhaConfirmacao').dirty || cadastroForm.get('senhaConfirmacao').touched)">
                        Tamanho inválido</mat-error>
                    <mat-error
                        *ngIf="cadastroForm.get('senhaConfirmacao')?.errors?.equalTo && (cadastroForm.get('senhaConfirmacao').dirty || cadastroForm.get('senhaConfirmacao').touched)">
                        As senhas devem ser iguais</mat-error>                    
                </mat-form-field>
                <br><br>
                <button mat-raised-button color="primary" [disabled]="!cadastroForm.valid"
                    type="submit">Registrar</button>
            </p>
            <p>Formulario valido: {{ cadastroForm.valid }}</p>
            <p>Formulario tocado: {{ cadastroForm.touched }}</p>
            <!--Formulario tocado-->
            <p>Formulario sujo: {{ cadastroForm.dirty }}</p>
            <!--Formulario sujo-->
            <p>Formulario: {{ formResult }}</p>
        </form>
    </div>
</div>