.card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 0.625rem;
    background-color: rgba(104, 100, 100, 0.096);
}

.card .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}

.card:hover .imgBx {
    transform: translateY(-100px);
}

.card .imgBx img {
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}

.card:hover .imgBx img{
    transform: translate(-20px, -40px) rotate(-25deg) scale(1.4);
}

.card .imgBx h2 {
    font-weight: 600;
}

.card .content {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.card .imgBx .prices {
    opacity: 1;
    visibility: visible;
}

.card:hover .imgBx .prices {
    opacity: 0;
    visibility: hidden;
}

.card:hover .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-60px);
}

.card .content .color,
.card .content .size {
    display: flex;
    justify-content: center;
    max-height: 30px;
    padding: 5px; 
}

.card .content .color h3,
.card .content .size h3 {
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card .content .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    color: #111;
    background: #FFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
}

.card .content .size span:hover {
    background: #9bdc28;
}

.card .content .color span {
    width: 20px;
    height: 20px;
    background: #F00;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.card .content .color span:nth-child(2) {
    background: #9bdc28;
}

.card .content .color span:nth-child(3) {
    background: #03a9f4;
}

.card .content .color span:nth-child(4) {
    background: #e91e63;
}

.card .content a {
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #FFF;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
}

.card .content .button-buy {
    text-align: center;
}

.card .content .button-sold {
    text-align: center;
    
}

.card .content .button-sold a {
    background-color: #F00;
    color: #FFF;
}