.task-list {
    margin: 20px;
    padding: 10px;
    background-color: rgba(252, 249, 249, 0.2);
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.task-list h3 {
    padding: 0px 40px;
    text-align: center;
    margin-bottom: 0px !important;
    width: 204px;
    height: 40px;
    font-weight: 500;
    color: #FFF;
    padding-top: 12px;
    text-transform: uppercase;
    background: var(--secondary-color-dark);
}

.task-list__finalizado {
    width: 22px;
    height: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    background: url(/assets/parar_ativo.png) no-repeat 0 0;
    background-size: 20px 20px;
}

.task-list__iniciado {
    width: 22px;
    height: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    background: url(/assets/iniciar_ativo.png) no-repeat 0 0;
    background-size: 20px 20px;
}

.task-list__retroceder {
    width: 22px;
    height: 20px;
    position: absolute;
    right: 50px;
    cursor: pointer;
    background: url(/assets/retroceder_ativo.png) no-repeat 0 0;
    background-size: 20px 20px;
}

.task-list li {
    list-style-type: none !important;
    position: relative;
    padding: 10px 20px;
}

.task-list li:nth-child(2n) {
    background: #f5f4f5;
}

.task-list li p {
    font-size: 18px;
    font-weight: 500;
}

.task-list li span {
    color: #807d82;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .2);
}

td {
    width: 280px;
    text-align: center;
    padding: 10px 0px;
    font-weight: 500;
}

td:hover {
    background-color: var(--primary-color);
    color: #000;
}