.task-list {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(252, 249, 249, 0.2);
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.task-list .table {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-list .header-task {
    background: var(--secondary-color-dark);
    padding: 14px 0px;
    text-align: center;
}

.task-list .botoes {
    display: flex;
    flex-direction: row;
}

.task-list .nome-tarefa {
    display: flex;
}

.task-list h3 {
    margin-bottom: 0px !important;
    font-weight: 500;
    color: #FFF;
    text-transform: uppercase;
}

.task-list__finalizado {
    cursor: pointer;
}

.task-list__iniciado {
    cursor: pointer;
}

.task-list__retroceder {
    cursor: pointer;
}

.task-list .tarefa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 2px 0px 2px 10px;
    font-weight: 500;
}

.task-list .table:nth-child(even) {
    background-color: rgba(0, 0, 0, .2);
}

.task-list .table:hover {
    background-color: var(--primary-color);
    color: #000;
}

hr {
    border-top: 1px dashed var(--primary-color);
}

mat-form-field {
    width: 100%;
}

.msg-error {
    font-size: x-small;
    color: red;
}