<div class="task-list">
    <div class="header-task">
        <h3>
            <ng-content></ng-content>
        </h3>
    </div>
    <div class="table" *ngFor="let item of list; index as i">
        <div class="tarefa">
            <div class="nome-tarefa">
                <span>{{ item.nome }}</span>
            </div>
            <div class="botoes">
                <button mat-icon-button *ngIf="!item.finalizado && item.iniciado" class="task-list__finalizado" (click)="toggleItem(i, 'finalizar')">
                    <mat-icon>stop</mat-icon>
                </button>
                <button mat-icon-button *ngIf="!item.finalizado && !item.iniciado" class="task-list__iniciado" (click)="toggleItem(i, 'iniciar')">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button mat-icon-button *ngIf="item.finalizado && !item.iniciado" class="task-list__retroceder" (click)="toggleItem(i, 'retomar')">
                    <mat-icon>undo</mat-icon>
                </button>
                <button mat-icon-button *ngIf="!item.finalizado && item.iniciado" class="task-list__retroceder" (click)="toggleItem(i, 'cancelar')">
                    <mat-icon>undo</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>