body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    margin-bottom: 16px;
    padding: 0 8px;
    max-width: 25rem;
    width: 17.5rem;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: var(--secondary-color-dark);
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: var(--primary-color);
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--primary-color);
    color: #000;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}