<div class="container">
    <app-cards></app-cards>
    <div class="conteudo">
        <h1>About Eddy</h1>
        <p>
            Eddy is an instant communication application where you can exchange audio, text and video messages.
            ... On Eddy, you can create and participate in servers, which bring together people with a common subject.
            These servers can have up to 250 users, and an administrator.
        </p>
    </div>
    <div class="conteudo">
        <p>This text is styled with some of the text formatting properties. The heading uses the text-align,
            text-transform, and color properties.
            The paragraph is indented, aligned, and the space between characters is specified. The underline is removed
            from this colored
            <a target="_blank" href="tryit.asp?filename=trycss_text">"Try it Yourself"</a> link.
        </p>
    </div>
</div>