<div class="flip-card">
	<mat-card class="example-card">
		<mat-card-header>
			<span class="material-icons gray900">touch_app</span>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Eddy</mat-card-title>
			<mat-card-subtitle>Real-time meetings and more.</mat-card-subtitle>
		</mat-card-header>
		<div class="flip-card-inner">
			<div class="flip-card-front">
				<img mat-card-image src="assets/video-conf.jpg" alt="video-conf">
			</div>
			<div class="flip-card-back">
				<mat-card-content>
					<img mat-card-image src="assets/video-conf-2.jpg" alt="video-conf">
					<div class="conteudo">
						<button mat-icon-button>
							<mat-icon>thumb_up_off_alt</mat-icon>
						</button>
						<button mat-icon-button>
							<mat-icon>share</mat-icon>
						</button>
						<button mat-icon-button>
							<mat-icon>favorite_border</mat-icon>
						</button>
						<button mat-icon-button>
							<mat-icon>zoom_in</mat-icon>
						</button>
					</div>
				</mat-card-content>
			</div>
		</div>
	</mat-card>
</div>